ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#005DA3
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
<<<<<<< HEAD
    text-decoration: none;
    font-weight: bold;
}
=======
  }
>>>>>>> 78c321fb8acde008cec50982e78d4becfe9c1f68

body{
    margin: 0px;
    font-family: Calibri;
}

li a:hover:not(.active){
    background-color: #111;
}

.active {
    background-color: #111;
}

<<<<<<< HEAD
.wesstyle {
=======
  .subheader {
>>>>>>> 78c321fb8acde008cec50982e78d4becfe9c1f68
    color: #005DA3;
    text-align: center;
}

.floaty{
    padding: 20px 20px;
    display: block;
}

.lineacross {
    color: #A7AAAC;
    width: 100%;
}