.Resume {
    text-align: left;
    margin: 50px;
}

.Resume-header {
    background-color: white;
    font-size: calc(10px + 2vmin);
    color: #282c34;
    padding-top: 1px;
}

.left-pane {
    width: 17%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
    color: #282c34;
    padding-left: 40px;
}

.right-pane {
    width: 80%;
    height: 100%;
    float: right;
    background-color: white;
    border-collapse: collapse;
    color: #282c34;
}
  
.Resume-button {
    background: #6a71bd;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
    outline: gray;
    box-shadow: gray;
    border-radius: 15px;
  }
  
  .Resume-button:hover {
    background: #434779;
    color: #ffffff;
  }