.resumeContainer {
    background-color: #1C2736;
    color: #DDDDDD;
    display: grid;
    grid-template-columns: 1rem auto auto 1rem;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". skills experience ."
        "callToAction callToAction callToAction callToAction";
    grid-gap: 5rem 3rem;
    justify-items: start;
    text-align: left;
}

.skills {
    grid-area: skills;
}

.sectionTitle {
    color: #DFB03D;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.sectionSubTitle {
    margin-top: 2.5rem;
}

.sectionText {
    color: #B0BCCC;
}

.experience {
    grid-area: experience;
}