@font-face {
  font-family:"proxima-nova";
  src:url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }

.body {
  width: 100%;
  font-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  height: 40rem;
  text-align: center;
  overflow-x: none;
  background: #1C2736;
}

.underlinedText { text-decoration: underline }

.headerContainer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "header header"
    "headerText .";
}

.header{
  grid-area: header;
  max-height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerText{
  height: 10rem;
  padding: 0rem 12rem;
  grid-area: headerText;
  color: white;
}

.navBar {
  background-size: cover;
  height: 60rem;
  overflow-x: none;
  font-family: 'proxima-nova';
}

.homeBackground { background-image: url("./assets/photos/home-background.JPG") }

.portfolioBackground {
  background-image: url("./assets/photos/wes-in-atlanta.jpg");
  background-position: center;
}

.passionsBackground { background-image: url("./assets/photos/passions-background.jpg") }

.resumeBackground {
  background-image: url("./assets/photos/resume-background.jpg");
  background-position: center;
}

.contactBackground {
  background-image: url("./assets/photos/contact-background.JPG");
  background-position: center;
}

.errorBackground {
  background-image: url("./assets/photos/error-background.png");
  background-position: center;
}

.catsBackground {
  background-image: url("./assets/photos/cats.jpeg");
  background-position: center;
}

.section31Background {
  background-image: url("./assets/photos/wes-with-starfox.jpg");
  background-position: top;
}

.rogueSquadronBackground { background-image: url("./assets/videos/rogue-squadron-loop.gif") }

.DIUBackground { background-image: url("./assets/videos/zipline-loop.gif");}

.streetcodeBackground { background-image: url("./assets/photos/streetcode-background.png") }

.darpaBackground { background-image: url("./assets/photos/darpa-drone.jpg")}

.iconImg {
  height: 3rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.wordmark {
  height: 2rem;
  vertical-align: middle;
  margin: 0rem 0.5rem;
}

.leftGroup{
  flex-grow: 2.5;
  padding-left: 10rem;
}

.centerGroup{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.rightGroup{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10rem;
}

.introContainer {
  background-color: #1C2736;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 2rem auto auto auto auto 3rem;
  grid-template-areas: 
    ". . . . ."
    ". introHeader introHeader introHeader ."
    ". introText introText introText ."
    ". introImg introImg1 introImg2 ."
    ". introNotes introNotes introNotes ."
    ". . . . .";
}

.introHeader {
  color: #DFB03D;
  grid-area: introHeader;
}

.introText {
  color: #DDDDDD;
  grid-area: introText;
}

.introImg {
  max-height: 35rem;
  padding: 1rem 2rem;
  grid-area: introImg;
}

.introImg1 {
  max-height: 35rem;
  padding: 1rem 2rem;
  grid-area: introImg1;
}

.introImg2 {
  max-height: 35rem;
  padding: 1rem 2rem;
  grid-area: introImg2;
}

.introImg:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.introImg1:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.introImg2:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.introNotes {
  color: #DDDDDD;
  grid-area: introNotes;
}

.whiteFlex {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.grayContainer {
  background-color: #DDDDDD;
  display: grid;
  padding-top: 1.5rem;
  row-gap: 0.5rem;
  grid-template-rows: 1.5fr auto auto auto auto 1.5fr;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  grid-template-areas: 
    ". . . . ."
    ". grayTitle grayTitle grayTitle ."
    ". grayImg . grayImg1 ."
    ". imgNotes . imgNotes1 ."
    ". . grayButton . ."
}

.grayTitle {
  color: #282C34;
  grid-area: grayTitle;
}

.grayImg {
  grid-area: grayImg;
  max-height: 35rem;
  border-radius: 5px;
}

.grayImg1 {
  grid-area: grayImg1;
  max-height: 35rem;
  border-radius: 5px;
}

.imgNotes {
  grid-area: imgNotes;
}

.imgNotes1 {
  grid-area: imgNotes1;
}

.grayButton {
  grid-area: grayButton;
  justify-self: center;
}

.callToActionFlex {
  background-color: #B0BCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.footer {
  background-color: #1C2736;
  height: 8.5rem;
  overflow-x: none;
  position: absolute;
  width: 100%;
  color: #DFB03D;
  text-align: center;
}

.footerButton {
  font-size: 1rem;
  color: #DFB03D;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin: .5rem 5rem;
}

.footerButton:hover { color: white }

.iconButton {
  cursor: pointer;
  margin: 0 .5rem;
}

.iconButton:hover { filter: brightness(80%) }

.navBarButton {
  font-size: 20px;
  color: #282C34;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin: 1.5rem;
}

.navBarButton:hover {
  color: rgb(185, 140, 24);  
}

.centerText { margin: 0rem 30rem }

.onLightBg { color: #282C34 }

.lgDarkBg {
  color: #DFB03D;
  padding: 2rem;
}

.grayHighlight {
  background-color: rgb(190, 190, 190);
  color: #282C34;
}

.tanHighlight {
  background-color: rgb(148, 133, 113);
  color: #282C34;
}

.whiteText { color: #DDDDDD }

.medDarkBg {
  color: #DDDDDD;
  padding: 2rem;
}

.playButton {
  cursor: pointer;
  vertical-align: middle;
  margin-right: .5rem;
}

.playButton:hover { filter: brightness(80%) }

.button {
  background-color: #6A71BD;
  font-family: 'proxima-nova';
  width: 180px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin-bottom: 3rem;
  font-weight: bold;
}

.button:hover { background-color: rgb(75, 81, 146) }

.lightTextLink {
  color: #DFB03D;
  text-decoration: none;
}

.lightTextLink:hover {
  color: white;
  text-decoration: underline;
}

.darkTextLink { color: rgb(84, 91, 160) }

.darkTextLink:hover { color: rgb(185, 140, 24) }

.hiddenTextLink {
  text-decoration: none;
  color: #DDDDDD;
}